{% extends "layout.html" %}

{% block main %}
    <div id="content"></div>
    <div id="textarea" style="position: absolute; left: 0px; opacity: 0.8;background-color: #334771">
        <pre id='instructions' style="color: white;">
        instructions...
        </pre>
    </div>
    <div id="block" style="position: absolute;top: 655px;height: 400px;right: 0px;left: 0px;bottom: 0px;opacity: 0.8"></div>
{% endblock %}
{% block scripts %}
    <script src="assets/dist/vendor.bundle.js"></script>
    <script src="assets/dist/bundle.js"></script>
{% endblock %}


